@import "colors.css";
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}


.loginsignup:hover {
  background: #75a4fa;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--theme);
  color: white;
}

#logo{
  float:left;
}

.fd{
  box-shadow: 0 14px 28px 0 rgb(0 0 0 / 30%);

  width: 350px;
  height: 250px;
  

}

.nav{
  box-shadow: 0 14px 28px 0 rgb(0 0 0 / 30%);
  width:500;
  height:400;
}

.subjectDiv{
  width:300px;
  height:90px;
  box-shadow: 0 14px 28px 0 rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  float: left;
  margin: 10px;
}
.newclassforpython{
  width:300px;
  height:90px;
  box-shadow: 0 14px 28px 0 rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  float: left;
  margin: 10px;
  background-color: #75a4fa;
}
      
