<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <title>SkillRush</title>

</head>

<body>
    <div class="topnav">
        <a class="hoveraction" id="navigationButton" href="#previous"><</a>
        <a class="hoveraction" id="navigationButton" href="#next">></a>
    </div>
    
        <div class="navbuttonP">
        <
        </div>
        <div class="qabody">
            <div class="question">Q: Number of primitive data types in Java are?</div>
            <div>
                <div class ="option">A | 6</div>
                <div class ="option">B | 7</div>
                <div class ="option">C | 8</div>
                <div class ="option">D | 9</div>
            </div>
        
        </div>
        <div class="navbuttonN">
        >
        </div>
        <div class="correct">Correct</div>
    
   <script src=""></script>
</body>
</html>